# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# IDEs
.idea

# dependencies
node_modules/
.pnp/
.pnp.js
libs/graphql/lens
libs/graphql/staff
libs/graphql/introspection-query-result.json
__generated__
/**/*.types.tsx
!namespaces/billing/apps/billing/**/*.types.tsx
!namespaces/billing/libs/billing-widgets/**/*.types.tsx
!namespaces/billing/libs/billing/**/*.types.tsx

# logs
logs/
lerna-debug.log

# scripts
tmp-graphql/
tmp/

# testing
coverage/
.coverage/
.nyc_output/
reports/
console-calls-count-file.txt
anvil_test_results.json
package-tests-count.json

# production
build/
dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

storybook-static/
_scripts/ssl/server.pem

monorepo-helpers/visualize-folder-dependencies/dependencygraph.svg

# env
.envrc
.nvmrc

# Directory with generated contracts
pacts/

# Testbox
.testbox/Dockerfile
.testbox/entrypoint.sh

# cypress exclude
cypress/screenshots
cypress/videos
