NPM_TOKEN=""

# local gateway
GQL_GATEWAY_API_ENDPOINT="http://localhost:5000/staff/graphql"
# staging gateway
# GQL_GATEWAY_API_ENDPOINT="https://staging.toptal.net/gateway/graphql/staff/graphql"

# only for local API or schema updates
# TOKEN="Bearer "
